$bkg: hsl(40, 100%, 97%);
$text: hsl(145, 100%, 6%);
$accent1: hsl(145, 46%, 51%);
$accent2: hsl(211, 81%, 48%);
$muted: hsl(145, 46%, 65%);

$size5: clamp(1rem, calc(0.68181828rem + 1.454545vw), 1.5rem);
$size4: clamp(1.3rem, calc(0.66363634rem + 2.909091vw), 2.3rem);
$size3: clamp(1.8rem, calc(0.90909097rem + 4.072727vw), 3.2rem);
$size2: clamp(2rem, calc(0.85454537rem + 5.236364vw), 3.8rem);
$size1: clamp(2.4rem, calc(1.06363634rem + 6.109091vw), 4.5rem);

$gap-main: 2rem;