@import "_variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400&display=swap');


//  font-family: "Archivo Black", sans-serif;


*,
*::after,
*::before {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='40' height='40' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(255, 250, 240,1)'/%3E%3Ccircle cx='5' cy='33' r='1' fill='rgba(43, 108, 176,1)'/%3E%3Ccircle cx='25' cy='7' r='1' fill='rgba(43, 108, 176,1)'/%3E%3Ccircle cx='5' cy='-7' r='1' fill='rgba(43, 108, 176,1)'/%3E%3Ccircle cx='25' cy='47' r='1' fill='rgba(43, 108, 176,1)'/%3E%3Ccircle cx='15' cy='20' r='1' fill='rgba(72, 187, 120,1)'/%3E%3Ccircle cx='35' cy='20' r='1' fill='rgba(72, 187, 120,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
    font-family: 'Poppins', sans-serif;
}

// typhography

h1 {

    background-color: #1777DE;
    background-image: linear-gradient(to right, #1777DE 35%, #49BC78 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


    // color:$accent2;
    font-size: $size1;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -2px;

    // animation: text-simtext-simple-animation-rev 0.5s ease-in forwards;

    &:hover {
        color:$accent2;

        // animation: text-simtext-simple-animation 0.5s ease-in forwards;
    }
}
// @keyframes text-simple-animation-rev {
//     0% {
//         background-size: 650%;
//     }
//     40% {
//         background-size: 650%;
//     }
//     100% {
//         background-size: 100%;
//     }
// }

// @keyframes text-simple-animation {
//     0% {
//         background-size: 100%;
//     }
//     80% {
//         background-size: 650%;
//     }
//     100% {
//         background-size: 650%;
//     }
// }



h2 {
    color:$accent2;
    font-size: $size3;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -1px;
}

a {
    font-size: $size4;
    font-weight: 600;
    color: $accent1;
    line-height: 1;
    letter-spacing: -1px;
}

// utility

.wrapper {
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: 1rem;
}

//general styles

.header {
    display: grid;
    place-items: center;
}

.logo {
    background-color: $bkg;
    border: .5rem outset $accent2;
    padding: $size5 $size4;
    width: 100%;
    text-align: center;
}

.nav {
    margin-top: $gap-main;
    margin-bottom: $gap-main; 

    &__list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        justify-content: center;
        gap: 3px;
    }

    &__item {
        background-color: $bkg;
        border: .5rem outset $muted;
        cursor: pointer;
        padding: .5rem 1.3rem;
    }

    &__link {
        text-decoration: none;
    }
}

.generator {

    display: grid;
    gap: $gap-main;
   
    color: $text;

    .row {
        display: flex;
        flex-direction: column;
        gap: $gap-main;

        @media screen and (min-width: 800px){
        
            display: flex;
            flex-direction: row;
            gap: $gap-main; 
        }
    }

   

    &__input {
        border: .5rem outset $accent2;
        background-color: $bkg;
        padding: 2rem;
        display: grid;
        gap: 1rem;

        @media screen and (min-width: 900px){
            max-width: 400px;
        }

        .option-group {
            
        }

        .option-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;
        }

        label {
            font-size: 1rem;
            color: $accent2;
            margin-right: auto;
        }

        input[type=number] {
            font-family: inherit;
            font-size: 1rem;
            margin-left: auto;
            padding: 0.3rem;
            background-color: $accent2;
            color: $bkg;
            text-align: center;
            max-width: 80px;
        }

        input[type=range] {
            display: block;
            width: 100%;
        }
        
        input[type=text] {
            font-family: inherit;
            background-color: $accent2;
            font-size: 1rem;
            padding: 0.3rem;
            color: $bkg;

        }
    }

    &__preview {
        flex-grow: 1;
        padding: 4rem;
        border: .5rem outset $accent2;
        background-color: $bkg;
        display: grid;
        place-items: center;

        .box{
            width: 200px;
            height: 200px;
            background-color: $accent1;

            @media screen and(min-width: 1200px) {
                width: 300px;
                height: 300px;
            }
            
        }

        .text-preview {
            font-size: $size1;
            font-weight: 600;
            color: $accent1;
        }
    }

    &__output {
        margin: 0 auto;
        background-color: $bkg;
        border: .5rem outset $accent2;
        padding: 1rem;
        width: 100%;

        @media screen and(min-width: 800px) {
            // 100% - (div input + gap)
            width: calc(100% - calc(25rem + 2rem)); 
            margin: 0;
            margin-left: auto;
        }

        .code {
            padding: 1rem;
            background-color: $accent2;
            color: $bkg;
        }

        .btn-container {
            margin-top: 1rem;
            display: flex;
            justify-content: center;
        }

        .btn-copy {
            display: block;
            background-color: $accent2;
            color: $bkg;
            font-size: $size5;
            padding: .6rem 1.3rem;
            text-decoration: none;
            text-transform: uppercase;
            border: 9px solid transparent;
            transition: all 250ms ease-in-out;

            &:hover, &:focus {
                border: 9px outset $accent2;
                background-color: $bkg;
                color: $accent2;
            }
        }
    }
}


